{% extends "base.html" %}
{% block content %}
<div class="headingTitle">Bug Details</div>
    <div class="row collection">
                <div>
                    <p><strong>Bug Name:</strong> {{bug.title }}</p>
                    <p><strong>Created by:</strong> {{ bug.author }} </p>
                    <p><strong>Created on:</strong> {{ bug.created_date }} </p>
                    <p><strong>Views:</strong> {{bug.views}}</p>
                    <p><strong>Votes:</strong> {{ bug.votes }}</p>
                     <p><strong>Description:</strong> {{ bug.description }}</p>
                </div>
                </div>
                <a href="{% url 'get_bugs' %}" class="btn btn-default">Back to Bugs</a>
                {% if user == bug.author %}
                    <a href="{% url 'edit_bug' bug.id %}" class="btn btn-default">Edit Bugs</a>
                {% endif %}
                
    <div class="row">
        {% if comments %}
        {% for comment in comments %}
        <div class="row collection commentContainer">
            <div class="col">
                <p>By: {{ comment.author }} ({{ comment.created_date }})</p>
                <p>Comment</p>
                <p>{{ comment.comment }}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
        
    <div class="row">
        <form  method="POST">
            {% csrf_token %}
            <div class="comment">
                {{ commentForm }}
            </div>
            <div>
                <button class='btn' type="submit">Comment</button>
            </div>
        </form>
    </div>
{% endblock %}