{% extends "base.html" %} {% block page_title %}Password Reset Page{% endblock %}  {% block content %}
<div class="row loginContainer">
    <div class="headingTitle">Reset Password</div>

    <div class="collection loginForm">
        <form method="post" class="accountform">
            <p>Please specify your email address to receive instructions for resetting it.</p>
            <br>
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            {{ form.email.errors }}
            <p><label for="id_email" class="control-label required-field">E-mail address:</label> {{ form.email }} <button class="btn waves-effect waves-light" type="submit" name="action" >Reset Password
                <i class="material-icons right">send</i></p>
        </form>
    </div>
</div>
{% endblock %}
