{% extends "base.html" %}
{% block content %}
<div class="headingTitle">Feature Details</div>
    <div class="row collection">
                <div>
                    <p><strong>Feature Name:</strong> {{ feature.title }} </p>
                    <p><strong>Created by:</strong> {{ feature.author }} </p>
                    <p><strong>Created on:</strong> {{ feature.created_date }} </p>
                    <p><strong>Total Donations:</strong><i class="material-icons">euro_symbol</i> {{ feature.totalDonation }}</p>
                     <p><strong>Description:</strong> {{ feature.description }}</p>
                </div>
                </div>
                    <a href="{% url 'get_features' %}" class="btn btn-default">Back to features</a>
                {% if user == feature.author %}
                    <a href="{% url 'edit_feature' feature.id %}" class="btn btn-default">Edit features</a>
                {% endif %}
                
    <div class="row">
        {% if comments %}
        {% for comment in comments %}
        <div class="row collection commentContainer">
            <div class="col">
                <p><strong>By:</strong> {{ comment.author }} ({{ comment.created_date }})</p>
                <p><strong>Comment:</strong></p>
                <p>{{ comment.comment }}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
       
    <div class="row">
        <form  method="POST">
            {% csrf_token %}
            <div class="comment">
                {{ commentForm }}
            </div>
            <div>
                <button class='btn' type="submit">Comment</button>
            </div>
        </form>
    </div>
{% endblock %}