{% extends "base.html" %}
{% block content %}
    <div class="row">
                <div>
                    <p>{{ feature.title }}</p>
                    <p><span class="boldtext">Created by:</span> {{ feature.author }} </p>
                    <p><span class="boldtext">Created on:</span> {{ feature.created_date }} </p>
                    <p><span class="boldtext">Votes:</span> {{ feature.totalDonation }}</p>
                     <p><span class="boldtext">Description:</span> {{ feature.description }}</p>
                    <a href="{% url 'get_features' %}" class="btn btn-default">Back to features</a>
                    <a href="{% url 'edit_feature' feature.id %}" class="btn btn-default">Edit features</a>
                    <hr>
                </div>
    </div>
    <div class="row">
        {% if comments %}
        {% for comment in comments %}
        <div class="row">
            <div class="col">
                <p>by: {{ comment.author }} ({{ comment.created_date }})</p>
                <p>{{ comment.comment }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
        {% endif %}
    <div class="row">
        <form  method="POST">
            {% csrf_token %}
            <div class="comment">
                {{ commentForm }}
            </div>
            <div>
                <button class='btn' type="submit">Comment</button>
            </div>
        </form>
    </div>
{% endblock %}