.pending{
    background-color: red;
}

.progressed{
    background-color: orange;
}

.completed{
    background-color: green;
}

.btn-blue{
    width: 150px;
}

.btn-red{
    width: 150px;
}

.status-bar{
    margin-top: 20px;
}

.headingTitle{
    text-align: center;
    font-size: 2em;
}

.alert {
padding: 8px 35px 8px 14px;
margin-bottom: 18px;
color: #c09853;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #fcf8e3;
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.alert-success {
color: #468847;
background-color: #dff0d8;
border-color: #d6e9c6;
}

.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.cart-icon{
    width:200px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.total-container{
    text-align: right;
}

.dashboard-button{
    text-align: center;
}

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

.loginForm{
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.registrationContainer{
  text-align: center;
}

.loginContainer{
  text-align: center;
}

.commentContainer{
  background-color: #e3e3e3;
}