{% extends "base.html" %}
{% load static from staticfiles %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row row-flex">
    {% for item in cart_items %}
        <div>
            <div>

                <div>
                    <h3>{{ item.feature.title }}</h3>
                    <p>{{ item.feature.description }}</p>
                    <p>{{ item.quantity }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="row">
    <p>Total</p>
    <p>{{ total }}</p>
</div>

<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <legend>Payment Details</legend>

    <div id="credit-card-errors" style="display: none;">
        <div id="alert-message block-message error" id="stripe-error-message"></div>
    </div>
<div class="row">
    <div class="col s6">
        {{ order_form  }}
    </div>

    <div class="col s6" >
        {{ payment_form }}
    </div>
</div>
    {% csrf_token %}
    <div >
        <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
</form>
{% endblock %}