{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <title>{% block page_title %} {% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Uniattractor</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                         <li>Welcome {{ user }}</li>
                        <li><a href="#">Features</a></li>
                        <li><a href="{% url 'get_bugs'%}">Bugs</a></li>
                        <li><a href="{% url 'account' %}">Account</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'registration' %}">Register</a></li>
                    {% endif %}
                </ul>
                <ul class="side-nav" id="mobile-demo">
                   
                    {% if user.is_authenticated %}
                         <li>Welcome {{ user }}</li>
                        <li><a href="#">Features</a></li>
                        <li><a href="{% url 'get_bugs' %}">Bugs</a></li>
                        <li><a href="{% url 'account' %}">Account</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'registration' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    
   <div class="container">
        <h3>{% block page_heading %}{% endblock %}</h3>
        <hr>
           {% if messages %}
           <div>
               {% for message in messages %}
               {{ message }}
               {% endfor %}
       
           </div>
           {% endif %}
   
          {% block content %}{% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();

        })
    </script>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">

                </div>
                <div class="col l4 offset-l2 s12">
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright
                <a class="grey-text text-lighten-4 right" href="#!">Twitter</a>
            </div>
        </div>
    </footer>
</body>
</html>